<html>
<title>Table</title>

<head>
    <%- include('../partials/head') -%>
	<link rel="stylesheet" href="public/main.css">
</head>

<body class="container">
	
    <header>
        <%- include('../partials/header') -%>
    </header>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Name</th>
								<th class="column2">ID</th>
								<th class="column2">Date</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="column1">Bob</td>
								<td class="column2">200398</td>
								<td class="column2">24/12/2021</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer>
        <%- include('../partials/footer') -%>
    </footer>

</body>

</html>